@inject NavigationManager Navigation
@* 
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head> *@

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FoodCapybara</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <LoginDisplay/>


        <!-- SHARED -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="account">
                <span class="oi oi-person" aria-hidden="true"></span> My Account
            </NavLink>
        </div>


        <!-- CUSTOMER -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search">
                <span class="bi bi-search" aria-hidden="true"></span> Search
            </NavLink>
        </div>

        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="orderhistory">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Past Orders
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="currentcart">
                <span class="oi oi-basket" aria-hidden="true"></span> My Cart
            </NavLink>
        </div>


        <!-- STAFF -->
        <AuthorizeView Roles="Staff">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="staff">
                        <span class="oi oi-musical-note" aria-hidden="true"></span> Manage Orders
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="driver">
                        <span class="oi oi-heart" aria-hidden="true"></span> Assigned Orders
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <!-- ADMIN -->
        <AuthorizeView Roles="Administrator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="staffmain">
                        <span class="oi oi-headphones" aria-hidden="true"></span> Staff
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="restaurantsindex">
                        <span class="oi oi-cloud" aria-hidden="true"></span> Restaurants Index
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="foodsindex">
                        <span class="oi oi-infinity" aria-hidden="true"></span> Foods Index
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="customersindex">
                        <span class="oi oi-musical-note" aria-hidden="true"></span> Customers Index
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ordersindex">
                        <span class="oi oi-box" aria-hidden="true"></span> Orders Index
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        
        

        

        
        
        

        

        <!--
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        -->
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div> *@
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void BeginLogOut(MouseEventArgs args)
    {
        Navigation.NavigateToLogout("authentication/logout", "/");
    }
}