<!-- code to share Back button throughout selected pages.
    "@using FullSD_Project_FoodCapybara.Client.Components" added to _Imports.razor
    "<SearchContentComponent />" is to be added in the selected page
-->


<a href="/@Target/" class="btn-back" style="margin-bottom: 10px;">
    <span class="oi oi-arrow-left mr-2"></span> Back
</a>





@* <a href="/@Target/" class="btn btn-outline-darkbtn-block">
    <span class="oi oi-arrow-left"></span>
    Back 
</a>

<br /> *@

@code {
    [Parameter] public string Target { get; set; }
}


