<!-- code to share Back button throughout selected pages.
    "@using FullSD_Project_FoodCapybara.Client.Components" added to _Imports.razor
    "<SearchContentComponent />" is to be added in the selected page
-->

<h3>SearchContentComponent</h3>

<h5> This is sample content component page which shows Back button</h5>

<!-- a button that shows back -->
<button class="btn btn-dark"> Back </button>

@code {

}
