@page "/account"

<PageTitle>My Account</PageTitle>

<h3>Account</h3>

<h5> This is the account page</h5>
<p>This page is to show information and details of everyone's accounts</p>

@code {
    // to add C* code
}
