@page "/"

<PageTitle>FoodCapybara Main Page</PageTitle>

<div class="landing-img-container">
    <img src="logo.png" alt="Logo of FoodCapybara" class="landing-img-style">
</div>

<h1 class="landing-h1">Welcome to FoodCapybara's app!</h1>


<!--
    FAVICON
<link rel="icon" type="image/x-icon" href="/logo.png">
-->


