.landing-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Set a height to center vertically within the viewport */
}

.landing-img-style {
    width: auto;
    max-width: auto;
}

.landing-h1 {
    color: white;
    text-align: center;
    font-family: Georgia;
}