@page "/orderhistory"

<PageTitle>My past orders</PageTitle>

<h3>Orders</h3>

<h5> This is the order history page</h5>
<p>This page is to show user's past orders</p>

@code {
    // to add C* code
}
