@page "/driver"

<PageTitle>Assigned orders</PageTitle>

<h3>Orders</h3>

<h5>This is the driver page</h5>>
<p>This page is to show the driver page when logged in to check assigned orders</p>

@code {
    //add code
}
