@page "/staff"

<PageTitle>Manage Orders</PageTitle>

<h3>Orders</h3>

<h5>This is the staff page</h5>
<p>This page is to show the staff page when logged in to manage orders</p>
@code {
    //add code
}
