@page "/currentcart"
@attribute [Authorize]
@inject HttpClient _client
@inject NavigationManager _navManager


<h3>Cart</h3>

<h5> This is the cart page</h5>
<p>This page is to show the present order items in the cart</p>

@code {
    //[Parameter] public int Id { get; set; }
    // Restaurant Restaurants = new Restaurant();
    // private List<Food>? Foods = new();
}
