@page "/restaurant"

<PageTitle>Restaurants</PageTitle>

<h3>Restaurant</h3>

<h5>This is the restaurant page</h5>>
<p>This page is to show the retaurant page where customers find their desired restaurant</p>

@code {
    // to add C* code
}
