a {
    text-decoration: none;
}

.search-row{

}

.search-img-container{

}

.search-img{

}

.search-front-page h1 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.search-front-page h2 {
    color: black;
    font-size: 15px
}


.search-front-page p {
    font-size: 12px;
    color: black;
}
