@page "/search"
@attribute [Authorize] 
@inject HttpClient _client
@inject IJSRuntime js

@* to make sure you are logged in before being able to access the page*@
<PageTitle>Search</PageTitle>

<h3>Welcome!        search button will be here</h3>
<br />

<div class="container">
    @foreach (var restaurant in Restaurants)
    {
        <a href="/search/@restaurant.Id" >            @* to make the whole row clickable*@
            <div class="search-row">                                 @*new restaurants will have new rows*@
                <div class="col-sm-4 search-img-container">                    @*higher col, more space used*@
                    <img class="w-100 search-img" src="img/restaurantImages/@restaurant.RestImage" />  @*widh of 100*@
                </div>
            <div class="col-8 search-front-page">
                <h1 class="postTitle"> @restaurant.RestName </h1>
                <h2 class="postIntroduction"> @restaurant.RestCategory </h2>
                <p> @restaurant.RestDescription </p>
            </div>
        </div>
        </a>
        <hr class="separator" />
        <br />
    }
</div>

<footer>
    &copy; 2024 FoodCapybara. All rights reserved.
</footer>   




@code {
    private List<Restaurant>? Restaurants = new();

    protected async override Task OnInitializedAsync()
    {
        Restaurants = await _client.GetFromJsonAsync<List<Restaurant>>($"{Endpoints.RestaurantsEndpoint}");
    }
}
