a {
    text-decoration: none;
}

.post-front-page h1 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.post-front-page h1 {
    color: black;
    font-size: 15px
}


.post-front-page p {
    font-size: 10px;
    color: black;
}
