@page "/search"
@attribute [Authorize] 
@* to make sure you are logged in before being able to access the page*@

<PageTitle>Search</PageTitle>

<h3>Search</h3>

<SearchContentComponent />

<p>This page is to seach for restaurants available</p>

@code {
    // to add C* code
}
